//
// ADVANCED ZOOM
// Require style for advanced-zoom script
//
// - modules
// - patterns
// - components
// ---------------------------------------------------------------------------
// ---------------------------------------------------------------------------


//
// MODULES
// ---------------------------------------------------------------------------
$data-attribute: data-zoom;
$overlay-background: #fff;

// in or out
@mixin cursor-zoom($where: in) {
    // IE fallback @see http://caniuse.com/#feat=css3-cursors-newer
    cursor: pointer;
    /// scss-lint:disable DuplicateProperty
    cursor: -webkit-zoom-#{$where};
    cursor: -moz-zoom-#{$where};
    cursor: zoom-#{$where};
}

@mixin transition($what: all, $duration: 300ms) {
    /// scss-lint:disable VendorPrefix
    -webkit-transition: $what $duration;
    -moz-transition: $what $duration;
    -o-transition: $what $duration;
    transition: $what $duration;
}

@mixin opacity($how: 1) {
    filter: 'alpha(opacity=#{$how})';
    opacity: $how;
}

@mixin backface-visibility($value: hidden) {
    /// scss-lint:disable VendorPrefix
    -webkit-backface-visibility: $value;
    backface-visibility: $value;
}

%zoom-media {
    @include transition(all, 300ms);
    position: relative;
    z-index: 99999;
}

%reducing-image-blur {
    /// scss-lint:disable VendorPrefix
    cursor: default;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}


//
// PATTERNS
// ---------------------------------------------------------------------------
[#{$data-attribute}='zoom'] {
    @include cursor-zoom(in);
}


//
// COMPONENTS
// ---------------------------------------------------------------------------
.zoom {
    &-media {
        @extend %zoom-media;
        @include cursor-zoom(out);
        &-wrap {
            @extend %zoom-media;
            @include backface-visibility(hidden);
            will-change: transform;
        }

        &-loading {
            cursor: wait;
        }
    }

    &-overlay {
        @include transition(opacity, 300ms);
        @include opacity(0);
        @include cursor-zoom(out);
        z-index: 9990;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // pointer-events: none;
        background: $overlay-background;

        // zoom-overlay-open class is assigned to body
        .zoom-overlay-open & {
            @include opacity(1);
        }

        &-open {
            @extend %reducing-image-blur;
        }

        &-transitioning {
            @extend %reducing-image-blur;
        }
    }
}
